@using OpenLaunch.Models
@using MudBlazor
@inject IDialogService DialogService

<MudDialog>
    <DialogContent>

        <MudText Typo="Typo.body1" Class="mb-4">Total Emails Accepted Successfully: @Result.SuccessfullySentEmails.Count</MudText>

        @if (Result.SuccessfullySentEmails.Any())
        {
            <MudExpansionPanels>
                <MudExpansionPanel Text="View Accepted Emails">
                    <MudTable T="string" Items="@Result.SuccessfullySentEmails" Dense="true" Bordered="true" Hover="true">
                        <HeaderContent>
                            <MudTh>Email</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd>@context</MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudExpansionPanel>
            </MudExpansionPanels>
        }
        
        <MudText Typo="Typo.body1" Class="mb-4 mt-4">Total Emails Failed: @Result.FailedEmails.Count</MudText>

        @if (Result.FailedEmails.Any())
        {
            <MudExpansionPanels>
                <MudExpansionPanel Text="View Failed Emails">
                    <MudTable T="(string Email, string ErrorMessage)" Items="@Result.FailedEmails" Dense="true" Bordered="true" Hover="true">
                        <HeaderContent>
                            <MudTh>Email</MudTh>
                            <MudTh>Error</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd>@context.Email</MudTd>
                            <MudTd>@context.ErrorMessage</MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudExpansionPanel>
            </MudExpansionPanels>
        }

        <div class="mt-4"></div>
    </DialogContent>
    
    <DialogActions>
        <MudButton OnClick="Cancel" Color="MudBlazor.Color.Primary">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }
    
    [Parameter]
    public EmailSendResult Result { get; set; }

    private void Cancel() => MudDialog.Cancel();
}